.reds { background-color: #fdd; }
.blues { background-color: #ddf; }
table {
  border-collapse: collapse;
}
th, td {
  padding: 0.3rem;
  font-size: 0.9rem;
  border: 1px solid #333;
  text-align: center;
}
