<!doctype html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="style.css">
<title>1778 matches</title>
<table>
<colgroup>
  <col>
  <col span="3" class="reds">
  <col span="3" class="blues">
</colgroup>
<!--<thead>
<tr>
  <th>num</th><th>r1</th><th>r2</th><th>r3</th>
              <th>b1</th><th>b2</th><th>b3</th>
</thead>-->
<tbody>
{{range . -}}
<tr>
  <td>{{.Number}}</td>
  {{range .Red.Teams -}}<td>{{.}}</td>{{end}}
  {{range .Blue.Teams -}}<td>{{.}}</td>{{end}}
</tr>
{{end -}}
</tbody>
</table>
